#main_body {
    /* margin: 0 10%; */
    background-color: black;
    height: 900px;
    /* width: 80%; */
}
#carousel {
    background-color: whitesmoke;
    height: 50%;
    /* display: flex; */
}
#television {
    background-color: red;
    height: 25%;
}
#film {
    background-color: blue;
    height: 25%;
}

/* #large_pic {
    background-color: aqua;
    width: 80%;
    height:100%;
} */
#ep_titles {
    background-image: linear-gradient(to bottom, transparent, black);
    width: 20%;
    height:100%;
    float: right;
    overflow: hidden;
}
.ep_name {
    width: 100%;
    height: 15%;
    background-color: white;
}