/* import font */
@font-face {
  font-family: 'SYSongTiSC-M';
  src: url('./src/font/思源宋体SC-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'XYGPinBo';
  src: url('./src/font/新愚公拼搏体.ttf') format('truetype');
}
/*@font-face {
  font-family: 'FDSong-B';
  src: url('./src/font/FandolSong-Bold') format('opentype');
}*/
@font-face {
  font-family: 'LXGWWenKai-M';
  src: url('./src/font/霞鹜文楷（LXGWWenKai-Medium）.ttf') format('truetype');
}


/* style for main structure */
* {
    font-family: 'SYSongTiSC-M';
}
#main_body {
    /* margin: 0 10%; */
/*    background-color: black;*/
/*    height: 1300px;*/
    /* width: 80%; */
}
#header {
    height: 7vw;
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 5vw;
    padding-top: 1vw;
    font-family: 'XYGPinBo';
}


/* carousel section */
#carousel {
/*    background-image: url("./src/film_tv/志愿军.jpeg");*/
    background-position: center;
    background-size: auto 100%;
    overflow: hidden;
    animation: carousel_img 15s steps(1,end) infinite;   
}
#ep_area {
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.4));
    height:100%;
    float: right;
    overflow: hidden;
}
#ep_titles {
    animation: carousel_ep_names 15s linear infinite;
}
#ep_name_area {
    float: right;
    animation: gradient_ep_names 15s linear infinite;;
    background-image: linear-gradient(to left, transparent, #e16c1d);
}
.ep_name {
    width: 100%;
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 3px black;
    box-sizing: border-box;
    padding: 1.5vw 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* film and tv section */
/*#tv {
    background-color: #F0FFF0;
} 
#film {
    background-color: #FFFACD;
}*/
.section_title {
    box-sizing: border-box;
    padding-top: 2vw;
    padding-left: 3vw;
    font-size: 2.5vw;
}
.section_content {
/*    height: 15vw;*/
/*    background-color: rgba(0, 0, 0, 0.1);*/
}
.section_box {
    float: left;
/*    width: calc(100% / 6 - 3vw);*/
    height: calc(100% - 3vw);
    margin: 1.5vw;
    overflow: hidden;
/*    box-shadow: 1px 1px 5px gray;*/
}
.section_img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
/*    background-image: url("./src/film_tv/爱的理想生活.jpg");*/
}
.section_text {
    font-size: 1.5vw;
    font-family: 'LXGWWenKai-M';
}