@font-face {
  font-family: 'SYSongTiSC-M';
  src: url('./src/font/思源宋体SC-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'XYGPinBo';
  src: url('./src/font/新愚公拼搏体.ttf') format('truetype');
}
* {
    font-family: 'SYSongTiSC-M';
}
#main_body {
    /* margin: 0 10%; */
    background-color: black;
/*    height: 1300px;*/
    /* width: 80%; */
}
#header {
    height: 7vw;
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 5vw;
    padding-top: 1vw;
    font-family: 'XYGPinBo';
}
#carousel {
/*    background-image: url("./src/film_tv/志愿军.jpeg");*/
    background-position: center;
    background-size: auto 100%;
    animation: carousel_img 15s steps(1,end) infinite;   
}
#tv {
    background-color: red;
    height: 300px;
}
#film {
    background-color: blue;
    height: 300px;
}

/* #large_pic {
    background-color: aqua;
    width: 80%;
    height:100%;
} */
#ep_area {
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.5));
/*    width: 30%;*/
    height:100%;
    float: right;
    overflow: hidden;
}
#ep_titles {
/*    position: relative;*/
/*    z-index: 90;*/
    animation: carousel_ep_names 15s linear infinite;
}
#ep_name_area {
    float: right;
/*    width: 30%;
    margin-right: -30%;*/
    animation: gradient_ep_names 15s linear infinite;;
    background-color: rgba(0, 0, 0, 0.2);
}
.ep_name {
    width: 100%;
/*    font-family: cursive;*/
    font-size: 2vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}