/* import font */
@font-face {
  font-family: 'SYSongTiSC-M';
  src: url('./src/font/思源宋体SC-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'XYGPinBo';
  src: url('./src/font/新愚公拼搏体.ttf') format('truetype');
}
/*@font-face {
  font-family: 'FDSong-B';
  src: url('./src/font/FandolSong-Bold') format('opentype');
}*/
@font-face {
  font-family: 'LXGWWenKai-M';
  src: url('./src/font/霞鹜文楷（LXGWWenKai-Medium）.ttf') format('truetype');
}