@font-face {
  font-family: 'LXGWWenKai-M';
  src: url('./src/font/霞鹜文楷（LXGWWenKai-Medium）.woff') format('woff');
}
@font-face {
  font-family: 'PMZDBiaoTi';
  src: url('./src/font/庞门正道标题体.woff') format('woff');
}
@font-face {
  font-family: 'BTXiaoBai';
  src: url('./src/font/包图小白体.woff') format('woff');
}


* {
    font-family: serif;
}
#header {
    height: 7vw;
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 5vw;
    padding-top: 1vw;
    font-family: 'PMZDBiaoTi', serif;
}
#footer {
    padding: 1%;
    font-size: 1.5vw;
    text-align: center;
    background-color: whitesmoke;
}
.icon {
    aspect-ratio: 1/1;
    height: 2vw;
}


/* carousel section */
#carousel {
/*    background-image: url("./src/film_tv/志愿军.jpeg");*/
    background-position: center;
    background-size: auto 100%;
    overflow: hidden;
    animation: carousel_img 15s steps(1,end) infinite;   
}
#ep_area {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.6));
    height:100%;
    float: right;
    overflow: hidden;
}
#ep_titles {
    animation: carousel_ep_names 15s linear infinite;
}
#ep_name_area {
    float: right;
    animation: gradient_ep_names 15s linear infinite;;
    background-image: linear-gradient(to left, transparent, #e16c1d);
}
.ep_name {
    width: 100%;
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 5px black;
    box-sizing: border-box;
    padding: 1.6vw 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* film and tv section */
.section_title {
    box-sizing: border-box;
    padding-top: 2vw;
    padding-left: 3vw;
}
.section_box {
    float: left;
    height: calc(100% - 2.8vw);
    margin: 1.4vw;
    overflow: hidden;
}
.src_link {
    color: black;
    text-decoration: none;
}
.section_img {
    width: 100%;
/*    height: 75%;*/
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.section_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section_text {
    font-family: 'LXGWWenKai-M', sans-serif;
}
.section_text_sub {
    font-family: 'LXGWWenKai-M', sans-serif;
    font-size: 70%;
    color: gray;
}
.section_title_sub {
    font-family: 'LXGWWenKai-M', sans-serif;
    font-size: 60%;
    color: gray;
    display: inline;
    padding: 0.5vw 2vw;
}
.section_title_sub:hover, .alert_bubble_content:hover {
    background-color: whitesmoke;
}

/* alert section */
#alert_bg {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.alert_win {
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: scroll;
    display: flex;
}
.alert_title {
    padding: 2%;
    color: white;
    background-color: orange;
}
.alert_close_btn {
    margin: -2%;
    padding: 2%;
    float: right;
}
.alert_close_btn:hover {
    background-color: whitesmoke;
    color: black;
}
.alert_bubble {
    margin: 0.5vw;
    width: calc(100% - 1vw);
    display: flex;
    box-sizing: border-box;
}
.alert_bubble_date {
    width: 30%;
    padding: 1vw;
    box-sizing: border-box;
}
.alert_bubble_content {
    width: 70%;
    padding: 1vw;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 3px gray;
/*    background-color: ;*/
}