@font-face {
  font-family: 'LXGWWenKai-M';
  src: url('./src/font/霞鹜文楷（LXGWWenKai-Medium）.woff') format('woff');
}
@font-face {
  font-family: 'PMZDBiaoTi';
  src: url('./src/font/庞门正道标题体.woff') format('woff');
}
@font-face {
  font-family: 'BTXiaoBai';
  src: url('./src/font/包图小白体.woff') format('woff');
}


* {
    font-family: serif;
}
#header {
    height: 8vw;
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 5.5vw;
    padding-top: 1.5vw;
    font-family: 'PMZDBiaoTi', serif;
}
#navigation {
/*    font-size: 60%;*/
    display: inline;
}
#navigation a, #header a {
    font-family: 'PMZDBiaoTi', serif;
    color: inherit;
    text-decoration: none;
}
#navigation a:hover, #header a:hover {
    background-color: gold;
    color: black;
}
#footer {
    padding: 1%;
    font-size: 1.5vw;
    text-align: center;
    background-color: whitesmoke;
}
.icon {
    aspect-ratio: 1/1;
    height: 2vw;
}








/* carousel section */
#carousel {
    background-position: center;
    background-size: auto 100%;
    overflow: hidden;
    animation: carousel_img 15s steps(1,end) infinite;   
}
#ep_area {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.6));
    width: 20%;
    height:100%;
    float: right;
    overflow: hidden;
}
#ep_titles {
    animation: carousel_ep_names 15s linear infinite;
}
#ep_name_area {
    width: 20%;
    margin-left: -20%;
    float: right;
    animation: gradient_ep_names 15s linear infinite;;
    background-image: linear-gradient(to left, transparent, #e16c1d);
}
.ep_name {
    width: 100%;
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 5px black;
    box-sizing: border-box;
    padding: 1.6vw 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* film and tv section */
.section_title, .ranking_title {
    font-size: 2.5vw;
    box-sizing: border-box;
    padding-top: 2vw;
    padding-left: 3vw;
}
.section_box {
    float: left;
    height: calc(100% - 2.8vw);
    margin: 1.4vw;
    overflow: hidden;
}
.src_link {
    color: black;
    text-decoration: none;
}
.section_img {
    width: 100%;
/*    height: 75%;*/
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.section_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section_text {
    font-family: 'LXGWWenKai-M', sans-serif;
}
.section_text_sub {
    font-family: 'LXGWWenKai-M', sans-serif;
    font-size: 70%;
    color: gray;
}
.section_title_sub {
    font-family: 'LXGWWenKai-M', sans-serif;
    font-size: 60%;
    color: gray;
    display: inline;
    padding: 0.5vw 2vw;
}
.section_title_sub:hover, .bubble_content:hover {
    background-color: whitesmoke;
}

/* alert section */
#alert_bg {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.alert_win {
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: scroll;
    display: flex;
}
.alert_title {
    padding: 2%;
    color: white;
    background-color: orange;
}
.alert_close_btn {
    margin: -2%;
    padding: 2%;
    float: right;
}
.alert_close_btn:hover {
    background-color: whitesmoke;
    color: black;
}
.bubble {
    margin: 0.5vw;
    width: calc(100% - 1vw);
    display: flex;
    box-sizing: border-box;
}
.bubble_date {
    width: 30%;
    padding: 1vw;
    box-sizing: border-box;
}
.bubble_content {
    width: 70%;
    padding: 1vw;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 3px gray;
/*    background-color: ;*/
}
.bubble_content .src_link {
    font-size: 70%;
    color: gray;
}
.bubble_description {
    background-color: rgba(225, 108, 90, 0.7);
    display: inline-block;
    text-align: center;
    font-size: 90%;
    margin: 1% 3%;
    color: white;
}
.bubble_tag {
    border-radius: 8px;
    box-shadow: 0 0 1px gray;
    display: inline;
    padding: 1px 3px;
    margin: 0 1px;
    font-size: 60%;
    color: rgb(50, 50, 50);
}
.bubble_tag_bar, .bubble_src_bar {
    display: inline-block;
    margin: 1% 0;
}
.bubble_src_bar {
    float: right;
}









/* music page */
#ranking {
    padding: 0 8vw;
}
.ranking_list_bar {
    width: calc(100% - 2vw);
    height: calc(70vh + 2vw);
    margin: 1vw;
    display: flex;
    justify-content: center;
}
.ranking_list {
    width: calc(33.3% - 4vw);
    height: calc(100% - 4vh);
    margin: 2vh 2vw;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px gray;
    float: left;
    overflow: hidden;
}
.ranking_list_header_bg {
    width: 100%;
    height: 35%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.ranking_list_header {
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: calc((70vh - 2vw) * 0.35 * 0.5);
    margin: auto;
    background-color: rgba(225, 108, 29, 0.5);
    font-family: 'PMZDBiaoTi', serif;
    font-size: 200%;
    text-shadow: 0 0 5px black;
    color: white;
}
.ranking_content_area {
    width: calc(100% + 15px);
    height: 65%;
    overflow-y: scroll;
    padding-right: 20px;
    box-sizing: border-box;
}


#filter {
    width: calc(100% - 16vw);
    height: 90vh;
    margin: 2vw 8vw;
    border: 1px solid black;
    overflow: scroll;
}
#filter_tool_bar {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
#filter_title {
    width: 10%;
    height: 100%;
    color: gray;
    font-size: 125%;
    margin: 1vw;
}
#filter_tool_area {
    width: 90%;
    height: 100%;
}
#search_select, #filter_select, #way_to_sort {
    float: right;
    height: calc(100% - 2vw);
    margin: 1vw;
    box-sizing: border-box;
}
#search_select, #filter_select {
    width: calc(42% - 2vw);
    display: flex;
}
#way_to_sort {
    width: calc(16% - 2vw);
}
#search_select *, #filter_select * {
    float: left;
}
#search_select input {
    width: 75%;
    border-radius: 0;
    padding: 3px;
}
#search_select button, #filter_tag_win button, #calendar_month_area button {
    height: 100%;
    padding: 6px;
    border: none;
    background-color: lightskyblue;
}
#way_to_sort div {
/*    width: 100%;*/
    font-size: 80%;
}

.filter_tag_bar * {
    float: left;
}
#filter_tag_win {
    margin: 5px 0;
    border: 1px solid gray;
/*    overflow: hidden;*/
    display: none;
}

.filter_tag_bar {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.filter_tag_bar:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}
.filter_tag_bar:nth-child(even) {
    background-color: rgb(220, 220, 220);
}
.filter_tag {
    border-radius: 5px;
    box-shadow: 0 0 1px gray;
    display: inline;
    padding: 2px 5px;
    margin: 0 2px;
}
.filter_tag:hover {
    box-shadow: 0 0 2px black;
}
.all_include {
    background-color: #e16c1d;
    color: white;
}
.include_either {
    color: #e16c1d;
    background-color: white;
}
.not_include {
    background-color: red;
}
#show_all_tag {
    border: none;
    border-radius: 0;
    padding: 4px;
    background-color: lightgray;
}
#filter_content {
    width: 100%;
    height: 100%;
/*    overflow: scroll;*/
}








/* event page */
#calendar {
    margin: 2% auto;
}
#calendar_header {
    background-color: lightyellow;
}
#calendar_title {
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-family: "PMZDBiaoTi", serif;
    color: orange;
}
#calendar_month_area {
    width: 100%;
    font-size: 150%;
    display: flex;
}
#calendar_month_content {
    width: 100%;
    text-align: center;
    font-family: "BTXiaoBai", serif;
    color: salmon;
}
.calendar_month_btn {
    height: 100%;
    font-family: "BTXiaoBai", serif;
    display: inline;
    margin: 0;
    color: white;
    text-shadow: 0 0 1px white;
}
#calendar_content {
    background-color: whitesmoke;
}
.calendar_day_bar, .calendar_header_bar {
    width: 100%;
    display: flex;
}
.calendar_day_box, .date_on, .calendar_header_box, .calendar_day_box_other {
    width: 100%;
    margin: 1%;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    font-family: "BTXiaoBai", serif;
}
.calendar_header_box {
    aspect-ratio: 1/0.5;
}
.calendar_day_box, .calendar_day_box_other {
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.calendar_day_box_other {
    color: darkgray;
}
.date_on {
    background-color: orange;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

